.list--flex {
  display: flex;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;

  @include phone {
    width: 480px;
  }
      
  @include tablet {
    width: 768px;
  }
      
  @include desktop {
    width: 1200px;
  }

  &--flex {
    display: flex;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding {
  padding-bottom: 0px;
}

.section__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  color: var(--title-text-color);
  text-align: center;

  @include desktop {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.icon {
  fill: currentColor;
}

.icon--media {
  margin-right: 10px;
}

.photo {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



