.button {
  display: inline-block;
  border-radius: 4px;
  border: transparent;

  font-family: $main-font;
  @include textParam(0.06em);
  font-size: 16px;
  text-align: center;

  cursor: pointer;
}

.button--primary {
  padding: 10px 32px;

  font-weight: 700;
  @include textParam(1.88, 0.03em);

  background-color: var(--brand-accent-color);
  color: var(--contrast-text-color);

  transition: background-color $trans;

  &:hover,
  &:focus {
    background-color: var(--accent-color-hover);
  }
}

.button--secondary {
  padding: 6px 22px;

  font-weight: 500;
  @include textParam(1.63);

  background-color: var(--second-background);
  color: var(--title-text-color);

  transition: background-color $trans, color $trans, box-shadow $trans;

  &:hover,
  &:focus {
    background-color: var(--brand-accent-color);
    color: var(--contrast-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
