.header {
  width: auto;
  border-bottom: 1px solid var(--border-line-color);
}

.nav.contaner {
  max-width: 480px;
  display: flex;
  align-items: center;

  height: 60px;

  @include tablet {
    max-width: 768px;
    height: 80px;
  }

  @include desktop {
    width: 1200px;
  }
}



