.hero {
  max-width: 768px;
  height: 400px;
  margin: 0 auto;


  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/mobile/Header.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;

  @include tablet {
    max-width: 1200px;
  }

  @include desktop {
    max-width: 1600px;
  }
}

.hero__title {
  display: block;
  margin-bottom: 30px;

  padding: auto;

  color: var(--contrast-text-color);
  font-weight: 900;
  font-size: 26px;
  @include textParam(1.62, 0.06em);

  text-transform: uppercase;
}

.hero__content {
display: flex;
height: 100%;
flex-direction: column;
@include flexCenter;
padding: 15px;
}

