.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  @include textParam(1.2);

  color: var(--brand-black);

  span {
    color: var(--brand-accent-color);
  }

  &:visited {
    color: var(--brand-black);
  }

  &--preceding {
    @include tablet {
    margin-right: 88px;
    }

    @include desktop {
      margin-right: 93px;
    }
  }
}

.logo--negative {
  display: block;
  align-items: center;
  margin-bottom: 20px;
  color: var(--contrast-text-color);

  &:visited {
    color: var(--contrast-text-color);
  }
}
