.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width:100%;
  max-width: 450px;
  padding-left: 15px;
  padding-right: 15px;

  height: auto;

  overflow-y: scroll;

  background-color: var(--contrast-text-color);

  transform: translate(-50%, -50%) scale(1);

  transition: transform $trans;

  .is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }

  @media screen and (max-width: 480px) {
    width: 95vw;
  }

  @include tablet {
    padding-left: 0px;
    padding-right: 0px;
    width: 450px;
  }

  @include desktop {
    width: 528px;
    
  }
}

.button-close {
  @include flexCenter();
  
  position: absolute;
  top: 8px;
  right: 8px;

  height: 30px;
  width: 30px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 0px;
  border-radius: 50%;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);

  background-color: var(--contrast-text-color);
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.icon-close {
  fill: var(--title-text-color);
  transition: fill $trans;

  .button-close:hover > &,
  .button-close:focus > & {
    fill: var(--brand-accent-color);
  }
}
