.particularity__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop{
    flex-wrap: nowrap;
    margin-bottom: 0px
  }
}

.particularity {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
   margin-bottom: 30px;
}
@media screen and (min-width: 768px) and  (max-width: 1199.98px){
  width: calc((100% - 30px)/2);
  
    &:nth-child(even) {
    margin-left: 30px;
    }
    &:not(:nth-child(-n+2)) {
    margin-bottom: 0px;
    }
}

  @include desktop {
    width: calc((100% - 90px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
    }
}



.icon__plate {
  @include flexCenter();

  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--second-background);
}

.particularity__title {
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--title-text-color);

  margin-bottom: 10px;
}

.particularity__text {
  color: var(--primary-text-color);
}


