.team {
  background-color: var(--second-background);
}

.team__list {

  margin-bottom: 0px;

  @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  @include desktop {
    margin-left: 0;
  }  
}

.team__card {
  width: 100%;
  max-width: 450px;
  margin: 0px auto;
  margin-bottom: 30px;
  

  background-color: var(--contrast-text-color);
  font-size: 16px;
  @include textParam(1.17);

  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;

    &:nth-child(even) {
    margin-left: 30px;
    }

    &:nth-last-child(-n+2) {
    margin-bottom: 0px;
    }

   }

   @include desktop {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0px;

    &:not(:last-child) {
    margin-right: 30px;
    }
   }
  }

.team__text {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 24px;

  font-size: 16px;
  line-height: 1.17;
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
 
  color: var(--title-text-color);
}

.team__position {
  margin-bottom: 16px;

  color: var(--primary-text-color);
}
