:root {
  --brand-accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --brand-black: #000000;
  --brand-background: #2f303a;
  --second-background: #f5f4fa;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --contrast-text-color: #ffffff;
  --border-line-color: #ececec;
  --borders-card-color: #eeeeee;
  --hero-shadow: #2f303a;
  --icons-gray: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

$trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

$mobile: 480px;

@mixin flexCenter($type: flex, $x-axis: center, $y-axis: center) {
  display: $type;
  justify-content: $x-axis;
  align-items: $y-axis;
}

@mixin textParam($line: 1.56, $space: 0.03em) {
  line-height: $line;
  letter-spacing: $space;
}

@mixin phone { 
  @media screen and (min-width: 480px) {
    @content;
  }
}  

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}



